@import 'system'

.index
  text-align center
  margin auto
  padding-top 70px
  font-family 'Arial'
  img
    width 200px
    height 200px

  .input
    width 150px
    margin auto
    a
      color default_color
      text-decoration none
      text-transform uppercase
    a:hover
      color primary_color

