@import 'system'

.topMenu
  position fixed
  z-index 10
  top 0
  left 0
  right 0
  background primary_color
  display grid
  grid-template-columns 70px 1fr 70px
  grid-template-rows 70px
  align-items center
  justify-content start

  img
    width 60px
    height 60px
    vertical-align middle


  a
    text-decoration none
    margin 0 10px
    color default_color
  a:hover
    color white
